USE [master]
GO
/****** Object:  Database [SchoolLessons]    Script Date: 5/27/2019 3:59:05 PM ******/
CREATE DATABASE [SchoolLessons]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolLessons', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER16\MSSQL\DATA\SchoolLessons.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolLessons_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER16\MSSQL\DATA\SchoolLessons_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolLessons].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolLessons]
GO
USE [SchoolLessons]
GO
/****** Object:  Table [dbo].[GradeAssignments]    Script Date: 5/27/2019 3:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradeAssignments](
	[Id] [uniqueidentifier] NOT NULL,
	[ProfessorId] [uniqueidentifier] NOT NULL,
	[StudentId] [uniqueidentifier] NOT NULL,
	[LessonId] [uniqueidentifier] NOT NULL,
	[Grade] [char](1) NOT NULL,
 CONSTRAINT [PK_GradeAssignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 5/27/2019 3:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Lessons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professors]    Script Date: 5/27/2019 3:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professors](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Professors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 5/27/2019 3:59:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Lessons] ([Id], [Name]) VALUES (N'21fc639b-0075-45f2-9aeb-018c8b1b5138', N'Lesson 2')
GO
INSERT [dbo].[Lessons] ([Id], [Name]) VALUES (N'9b2f0250-1912-4e07-9d7c-024bf960deae', N'Lesson 6')
GO
INSERT [dbo].[Lessons] ([Id], [Name]) VALUES (N'dd8148e7-491b-4a2b-aff5-09781d278ba5', N'Lesson 36')
GO
INSERT [dbo].[Professors] ([Id], [Name]) VALUES (N'36024276-8c1c-4ef1-a26a-0f0770de4ef1', N'Professor 5')
GO
INSERT [dbo].[Professors] ([Id], [Name]) VALUES (N'4236b7d7-3800-46be-8ccd-1127983a9306', N'Professor 1')
GO
INSERT [dbo].[Professors] ([Id], [Name]) VALUES (N'023f78f0-9294-4669-b285-21f9a8a0259c', N'Professor 2')
GO
INSERT [dbo].[Students] ([Id], [Name]) VALUES (N'd80a9191-dc43-47c0-b0bb-0033d8f88bca', N'Student 113')
GO
INSERT [dbo].[Students] ([Id], [Name]) VALUES (N'1e991039-fd7d-49d3-98f1-0054cff1fb01', N'Student 183')
GO
INSERT [dbo].[Students] ([Id], [Name]) VALUES (N'0ff038e5-3132-4878-afff-00ea24645dda', N'Student 245')
GO
ALTER TABLE [dbo].[GradeAssignments]  WITH CHECK ADD  CONSTRAINT [FK_GradeAssignments_Lessons] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([Id])
GO
ALTER TABLE [dbo].[GradeAssignments] CHECK CONSTRAINT [FK_GradeAssignments_Lessons]
GO
ALTER TABLE [dbo].[GradeAssignments]  WITH CHECK ADD  CONSTRAINT [FK_GradeAssignments_Professors] FOREIGN KEY([ProfessorId])
REFERENCES [dbo].[Professors] ([Id])
GO
ALTER TABLE [dbo].[GradeAssignments] CHECK CONSTRAINT [FK_GradeAssignments_Professors]
GO
ALTER TABLE [dbo].[GradeAssignments]  WITH CHECK ADD  CONSTRAINT [FK_GradeAssignments_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[GradeAssignments] CHECK CONSTRAINT [FK_GradeAssignments_Students]
GO
USE [master]
GO
